@charset "utf-8";

/*-------------------------| Common |-------------------------*/

body {
    font-family: '微軟正黑體';
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.content {
    margin: 0px auto;
    width: 960px;
}

#totalCnt {
    text-align: center;
    height: 680px;
    line-height: 680px;
    font-size: 60px;
}

/*-------------------------| Top |-------------------------*/

/*-------------------------| Footer |-------------------------*/

